*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased ;
    -moz-font-smoothing: grayscale;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;

    background: linear-gradient(45deg, #190361 0%, #B0F 100%);

    font-size: 1.6rem;
}

:root{
    font-size: 62.5%;
}

main{
    margin-top: -100px;

    background-color: #ffffff;

    text-align: center;

    padding: 4.8rem 6.4rem 6.4rem;
}

.screen1 p{
    margin: 1.4rem 0 2.0rem;
}

.screen1 h1 {
    width: 25.8rem;
}